<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title %></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
<body>
  <nav>
    <a href = "/">Home</a>
  </nav>
  <h1><%=title %></h1>
  <br></br>
  <h2>Products in category </h2>
  <% products.map(product =>{ %>
    <form action ="/product" method ="get">
      <input type="hidden" id="product" name="product" value="<%= product.id %>">
      <button type ="submit" ><%= product.product_name %></button>
    </form>
   <% }) %>
   <h2>Delete this category</h2>
     <form action ="/categoryRemove" method ="post">
       <input type ="hidden" id = "category" name = "category" value = "<%= id %>">
       <button type = "submit">Delete</button>
     </form>
</body>
</html>