<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title %></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
<body>
  <nav>
    <a href = "/">Home</a>
  </nav>
  <h1><%=title %></h1>
  <br></br>
  <h2>Lookie lookie </h2>
  id: <%= product.map(product => product.id) %>
  <br>
  name: <%= product.map(product => product.product_name) %>
  <br>
  category: <%= product.map(product => category) %>
  <br>
  stock:  <%= product.map(product => product.stock) %>

  <h2>Delete this product</h2>
     <form action ="/productRemove" method ="post">
       <input type ="hidden" id = "product_id" name = "product_id" value = "<%= product[0].id %>">
       <button type = "submit">Delete</button>
     </form>
</body>
</html>